
<html xmlns:th="http://wwww.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	<title>TODAY-REGISTER</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
</head>

<body th:align="center">
	<hr>
	<div class="d-flex justify-content-center">
	<h1>TODAY LIST MODIFY</h1>
	</div>
	<hr>
	
	<form th:action="@{/todolist/updateTodolist}" method="post">
		<input name="seq" type="hidden" th:value="${todolistVO.seq}"/>
	<div class="d-flex justify-content-center">
		<textarea name="content" th:text="${todolistVO.content}" class="form-control" rows="10" cols="10"></textarea>	
	</div>
	<hr>
	<div class="d-flex justify-content-center">
		 <button type="button" class="btn btn-info">등 록 일 자 </button>
	</div>
	<div class="d-flex justify-content-center">
		<td th:text="${#dates.format(todolistVO.createDate,'yyyy-MM-dd')}"></td>
	</div>
	<hr>
	<div class="d-flex justify-content-center">
		<button type="submit" class="btn btn-info" style="margin-right: 15px;">TO-DO-수정</button>
		<a th:href="@{/todolist/getTodolist}">
			<button type="button" class="btn btn-info">TO-DO-LIST</button>
		</a>
	</div>
	</form>
	<hr>
	<div class="d-flex justify-content-center">
		
	</div>
</body>

</html>